<p id="notice"><%= notice %></p>
<h1>Liste des Bornes</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">adresse</th>
      <th scope="col">Ville</th>
         <th scope="col">Code Postal</th>
         <th scope="col">Latitude</th>
         <th scope="col">Longitude</th>
         <th scope="col">Tarif</th>

    </tr>
  </thead>
        <% Borneelec.each do |borneelec| %>

  <tbody>
 <tr>
    <td><%= borneelec.name %></td>
    <td><%= borneelec.adresse %></td>
    <td><%= borneelec.ville %></td>
    <td><%= borneelec.codepostal %></td>
    <td><%= borneelec.latitude %></td>
    <td><%= borneelec.longitude %></td>
    <td><%= borneelec.tarif %></td>

<!--      <td><%#= link_to 'Détails', mongoid_path(borneelec.id),:class => "btn btn-primary"  %></td>-->
      &nbsp;
       <td><%= link_to 'Modifier', edit_mongoid_path(borneelec) %></td>
      &nbsp;
      <td><%= button_to 'Supprimer', mongoid_path(borneelec.id), method: :delete , class: "btn btn-primary"%></td>
    </div>
  <% end %>
</div>
<br>

<%= link_to 'New Borne' , new_mongoid_path %>
