<p id="notice"><%= notice %></p>
<h1>Liste des Bornes</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">adresse</th>
      <th scope="col">Ville</th>
         <th scope="col">Code Postal</th>
         <th scope="col">Latitude</th>
         <th scope="col">Longitude</th>
         <th scope="col">Tarif</th>

    </tr>
  </thead>

  <tbody>


    <% @bornes.each do |borne| %>
     <tr>
        <td><%= borne.Adresse %></td>
        <td><%= borne.Ville %></td>
        <td><%= borne.CodePostal %></td>
        <td><%= borne.Latitude %></td>
        <td><%= borne.Longitude %></td>
        <td><%= borne.Tarif %></td>




         <td> <%= link_to 'Show', borne , :class => "btn btn-primary" %>
          <%= link_to 'Edit', edit_borne_path(borne) , :class => "btn btn-primary" %>
          <%= link_to 'Destroy', borne, method: :delete, data: {confirm: 'Are you sure?'} , :class => "btn btn-primary" %>

        </div>
</td>
      </div>
      <br>
      </div>

    <% end %>


</div>
<br>

<%= link_to 'New borne', new_borne_path %>
